.displaymessage-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
}
.displaysendermessage-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  margin-bottom: 1rem;
  /* left: 19rem; */
}

.displayuserimage {
  position: relative;
  width: 6%;
  height: 2rem;
  border: 2px solid black;
  border-radius: 5rem;
  margin: 1rem;
}

.displaymessage {
  border: 1px solid black;
  padding: 2rem 4.6rem 1.5rem 1.5rem;
  max-width: 15rem;
  word-wrap: break-word;
  font-size: 1.1rem;
  background-color: aqua;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.displaymessages {
  border: 1px solid black;
  padding: 2rem 1rem 1.5rem 1rem;
  width: 15rem;
  word-wrap: break-word;
  font-size: 1.1rem;
  background-color: rgb(4, 240, 83);
  border-radius: 1rem;
  margin-top: 0.5rem;
  position: relative;
  left: 19rem;
  margin-right: 2rem;
}
.Displaymessagefull-container {
  position: relative;
  height: 80%;
  width: 100%;
  overflow-y: auto;
  top: 5rem;
  border-top: 1px solid black;
}
.sender {
  z-index: 999;
  position: relative;
  left: 10rem;
  top: 1rem;
  font-size: 0.7rem;
}
.reciver {
  z-index: 999;
  position: absolute;
  top: 1rem;
  right: 25rem;
  font-size: 0.7rem;
}
/* For Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(237, 237, 244);
}
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 233);
  border-radius: 5rem;
}
.displayimg {
  left: 3rem;
  position: absolute;
  width: 2rem;
  height: 5rem;
}
.replywithimage {
  display: flex;
  flex-direction: column;
}
.replyedimage {
  border: 1px solid black;
  padding: 2rem 4.6rem 1.5rem 1.5rem;
  max-width: 15rem;
  word-wrap: break-word;
  font-size: 1.1rem;
  background-color: aqua;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.replyedtext {
  position: relative;
  top: 3rem;
}
