.Reciverinfo-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
}
.Reciverinfo-image {
  width: 10%;
  height: 4rem;
  border: 2px solid black;
  border-radius: 5rem;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.Reciverinfo-username {
  z-index: 999;
  position: absolute;
  top: 2rem;
  font-size: 1.5rem;
  left: 6rem;
  margin-left: 1rem;
}
.Reciverinfo-phoneicon {
  position: absolute;
  right: 1rem;
  margin-top: 2rem;
  margin-right: 4rem;
  font-size: 1.5rem;
}
.Reciverinfo-recorder {
  position: absolute;
  margin-top: 2rem;
  font-size: 1.5rem;
  right: 1rem;
}
